.container-fluid {
    display: inline-flexbox;
    background-color: rgb(0, 0, 0);
    height: min-content;
    cursor: pointer;
}

.beat-container {
    /* background-color: rgb(78, 65, 87); */
    font-family: 'Courier New', Courier, monospace;
    /* background-image: url('maschine-beats.gif'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: max-content;
}

.feature-container {
    font-family: 'Courier New', Courier, monospace;
    /* background-attachment: fixed; */
    background-size: cover;
}


.coder-container {
    background-image: url('jc.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    display: inline-flexbox;
    align-items: center;
    font-family: Arial, Helvetica Bold, sans-serif;
    justify-content: space-between;
}

.social-container:hover {
    color:rgb(0, 0, 0);
}

.drum-machine-container {
    background-color: trans;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica Bold, sans-serif;
    align-items: center;
    height: 75px;
    width: 100%;
}



.creative-projects-container {
    background-color: rgba(196, 196, 196, 0.486);
    display: flex;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica Bold, sans-serif;
    align-items: center;
    height: 150px;
    border: 10px;
    border-color: green;
}

.sound {
    color: yellow;
    display: inline-flexbox;
    background-repeat: no-repeat;
    /* border: .10px; */
    border: solid .5px;
    width: 100px;
    height: 100px;
    border-color:rgb(0, 0, 0);
    /* border-radius: 25px; */
    background-color:rgb(212, 212, 212);
    color: black;
    margin-top: 50px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    transition: background .25s;
    box-shadow: 4px 4px 4px #424242;

}

.sound h1 {
    font-size: large;
    margin-top: 35px;
}
.sound:hover {
    /* background-image: url("maschine-beats.gif"); */
    background-position: center;
    background-color: transparent;
    border: solid .5px;
    color: rgb(255, 238, 0);
    transition: linear;
    box-shadow: 8px 8px 6px #424242;
}

.playing {
     background-position: center;
    background-color: transparent;
    border: 1px;
    border: solid;
    color: rgb(255, 238, 0);
    transition: linear;

}

.projects-box {
    color: transparent;
    background-repeat: no-repeat;
    background-position-x: unset;
    border: 1px;
    width: 50%;
    height: 400px;
    border-color:rgb(255, 238, 0);
    background-color: rgb(255, 255, 255);
}

.projects-box:hover {
    background-position: center;
    background-color: rgb(0, 0, 0);
    border: 1px;
    color: rgb(255, 255, 255);
}

.beat-box {
    border: 1px;
    height: 400px;
    width: 50%;
    background-color:rgb(255, 238, 0);
    background-repeat: no-repeat;
    color: transparent;
}

.beat-box:hover {
    /* background-image: url("maschine-beats.gif"); */
    background-position: center;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px;
    width: 50%;
}


.footer-container {
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 75px;
    font-family: 'Courier New', Courier, monospace;
    text-align: bottom;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.footer-container span {
   font-size: 25px;
   position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.nav-div {
   
    font-family: 'Courier New', Courier, monospace;
    color: rgb(73, 73, 45);
    display: inline;
}

.img {
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.material-icons { 
    font-size: 50px;
    position: static;
    color: rgb(231, 231, 231);
}

.material-icons:hover {
    color: rgb(255, 238, 0);
}

.input {
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
border-radius: 25px;
border: 1px transparent;
padding: 20px;
margin-bottom: 10px;
width: 50%;
resize: vertical;
height: 1px;
outline: none;
}

.input:hover {
/* box-shadow: 0 0 11px rgba(21, 24, 26, 0.555); */
box-shadow: 0 0 11px rgb(255, 238, 0);
}

.buttons {
background-color: rgb(129, 137, 143);
font-family: 'Courier New', Courier, monospace;
border-radius: 25px;
border: transparent;
width: fit-content;
resize: vertical;
outline: transparent;
font-size: 25px;
}

.buttons:hover {
background-color: rgb(90, 84, 143);
box-shadow: 0 0 11px rgba(33,33,33,.2);
color: rgb(255, 255, 255);
}

.error-div {
    background-color: rgb(0, 0, 0);
    width: 100%;
    font-size: 33px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 238, 0);
    padding-bottom: 2.5in; 
}

.error-div:hover {
background-image: url('tvstatic.txt')
}

.sign-up-button {
    border-radius: 25%;
    border:rgb(255, 238, 0);
}

.machine-label {
    border: 2px;
    border-color: white;
    color: yellow;
    width: 100%;
}


