.container {
    display: inline-flexbox;
    background-color: black;
    /* width: fit-content; */
    /* display: inline-flex; */
    height: min-content;
}

.social-container {
    display: flex;
}


}

.gif-div {
    background-color: black;
    height: 100%;
    width: 100%;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}

.img {
    padding: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.material-icons { 
    font-size: 50px;
    position: static;
    color: rgb(90, 66, 31);
}

.material-icons:hover {
    color: rgb(255, 255, 255);
}

.input {
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
border-radius: 25px;
border: 1px solid #1a1a1a;
padding: 20px;
margin-bottom: 10px;
width: 4in;
resize: vertical;

height: 1px;
outline: none;
/* box-shadow: 1px 1px #888888; */
}

.input:hover {
box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.error-div {
    width: fit-content;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(87, 86, 86);
    /* z-index: 1;
    position: absolute;
    bottom: -175px;
    left: 500px; */
    /* position: relative; */
}
